
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}
@font-face {
    font-family: 'Copa';
    src: url('fonts/copasetic/CopaseticNF.TTF');
}
@font-face {
    font-family: 'Man';
    src: url('fonts/manbow/Lines.otf');
}
@font-face {
    font-family: 'Bream';
    src: url('fonts/breamcatcher/rg.otf');
}
@font-face {
    font-family: 'Eng';
    src: url('fonts/engebrechtre/Rg.otf');
}
@font-face {
    font-family: 'Park';
    src: url('fonts/parklane/ParkLaneNF.ttf');
}
:root {
    --black: rgb(42, 34, 29);
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color:rgb(120, 70, 38);
    background-image: url(bilder/wardBack.JPG);
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
    font-family: 'Park';
    font-size: 100px;
    font-weight: 500;
    color: var(--black);
    padding: 15px;
}
h2 {
    font-family: 'Eng';
    font-weight: 400;
    font-size: 33px;
}
p {
    font-family: 'Bream';
    font-weight: 100;
    font-size: 22px;
}
#startscreen {
    display: flex;
    margin-top: 200px;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}
#startscreen div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--black);
    padding: 10px 15px 20px 15px;
    gap: 2px;
    background-color: antiquewhite;
    border: 3px solid var(--black);
}
#startscreen p {
    color: antiquewhite;
}
#play {
    height: 80px;
    width: 200px;
    color: var(--black);
    background-color: antiquewhite;
    font-family: Eng;
    font-size: 50px;
    border: 3px solid var(--black);
	animation: play 1.4s linear infinite;
    transition: transform 0.2s ease, filter 0.2s ease;
}
@keyframes play {
	0%{
		transform: scale(1.0);
	}
	50% {
		transform: scale(1.2);
	}
	100% {
		transform: scale(1.0);
	}
	
}
#desk {
    display: none;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    justify-content: center;
    align-items: center;
}
.letter {
    display: flex;
    width: 600px;
    margin: auto;
    background-color: antiquewhite;
    height: 790px;
    grid-column: 3/11;
    grid-row: 2/12;
}
.letter > p {
    margin:  70px 50px 0 70px;
    font-size: 16px;
}
#wardbutton {
    grid-column: 11/12;
   grid-row: 11/12;
   height: 60px;
   width: 60px;
   margin-left: 20px;
}
#interview {
    display: none;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    gap: 10px;
    align-items: center;
    justify-items: center;
    width: 100vw;
    height: 100vh;
    z-index: 0;
}
.next {
   grid-column: 11/12;
   grid-row: 11/12;
   height: 60px;
   width: 60px;
   margin-left: 20px;
    z-index: 3;
}
.yapBox {
    position: relative;
    grid-column: 2/12;
    grid-row: 9/12;
    display: flex;
    gap: 20px;
    background-color: antiquewhite;
    flex-direction: column; 
    justify-content: flex-start;
    padding: 26px 32px 32px 32px ;
    width: 800px;
    height: 200px;
    overflow-y: auto;
    z-index: 2;
}
.yapBox .name h2 {
    font-size: 24px;
    font-weight: bold;
}
.yapBox .yap p {
    font-size: 20px;
    line-height: 1.5;
    white-space: normal;
    word-wrap: break-word;
    overflow: hidden;
    transition: color 0.3s ease; /* Optional: Smooth color transition */
}
#characterHolder {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column: 1/13;
    grid-row: 1/13;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}
#characterHolder img {
    height: 100vh;
    grid-column: 1/13;
    grid-row: 1/13;
}
#james {
    display: block;
}
#clara {
    display: none;
}
#charlie {
    display: none;
}
#edward {
    display: none;
}
#evelyn {
    display: none;
}
#graves {
    display: none;
}
#claraProfile {
    display: none;
    grid-column: 3/5;
    grid-row: 2/4;
    z-index: 100;
}
#charlieProfile {
    display: none;
    grid-column: 6/8;
    grid-row: 2/4;
    z-index: 100;
}
#edwardProfile {
    display: none;
    grid-column: 3/5;
    grid-row: 6/8;
    z-index: 100;
}
#evelynProfile {
    display: none;
    grid-column: 6/8;
    grid-row: 6/8;
    z-index: 100;
}
